












.header {
  height: 10%;
}

.header--fixed {
  width: 640px;
}

.header__search {
  float: right;
}

.header__search--left {
  float: left;
  height: 200px;
}

.c-header {
  height: 10%;
}

.c-header--fixed {
  width: 640px;
}

.c-header__search {
  float: right;
}

.c-header__search--left {
  float: left;
  height: 200px;
}
