
/* Import BEMForce */

@import "./build/scss/bemForce";

/* Your code starts here */

@include block(header) {
  height: 10%; 
  
  @include modifier(fixed) {
    width: 640px;
  }
  
  @include element(search) {
    float: right;
    
    @include modifier(left) {
      float: left;
      height: 200px;
    }
  }
}

@include b("header", "c-") {
  height: 10%;
  
  @include m("fixed") {
    width: 640px;
  }
  
  @include e("search") {
    float: right;
    
    @include is(disabled) {
      pointer-events: none;
    }
     
    @include has(validated) {
      border: 1px green;
    }     
      
    @include m("left") {
      float: left;
      height: 200px;
    }
  }
}