
/* Import BEMForce */

@import "./build/scss/bemForce";

/* Your code starts here */

@include block(header) {
  height: 10%; 
  
  @include modifier(fixed) {
    width: 640px;
  }
  
  @include element(search) {
    float: right;
    
    @include modifier(left) {
      float: left;
      height: 200px;
    }
  }
}