
/*
  @name $strings {map}
  @description Error strings for console output
*/

$strings: (
  element-belong: 'Elements must belong to a block',
  modifier-belong: 'A modifier must belong to a block or element',
  block-unique: 'Blocks cannot belong to other blocks',
  element-unique: 'Element cannot be added to other elements or modifiers',
  modifier-unique: 'A modifier must be unique per selector',
  string-missing: 'String missing for output',
  valid-name-block: 'Please pass in a valid name for your block',
  valid-name-element: 'Please pass in a valid name for your element',
  valid-name-modifier: 'Please pass in a valid name for your modifier'
) !default;

/*
  @name $delimiters {map}
  @description Configs BEM delimiters for selector construction
*/

$delimiters: (
  element: "__",
  modifier: "--"
) !default;